html, body { height: 100%; margin: 0; padding: 0;}

body {
    font-family: 'Exo', sans-serif;
    background-color: #CCC;
    margin: 0;

}

header {
    width: 100%;
    padding: 1em 0;
    background-color: rgba(255,255,255, 0.9);
    margin: 0 auto;
    text-align: center;
    z-index: 2;
}

.map {
    height: 100%;
    z-index: 1;
}

.saved-locations, .search-history {
    width: 20%;
    height: 100%;
    margin: 10px auto;
    background-color: rgba(255,255,255,0.4);
    z-index: 2;
}

.saved-locations {
    position: absolute;
    top: 10em;
    left: 15px;
}

.search-history {
    position: absolute;
    top: 10em;
    right: 15px;
}


.article-list, .address-list {
    margin: 0;
    padding: 0;
}

.article, .address-list-item {
    list-style-type: none;
    padding:10px;
    border-top: 1px solid #CCC;
}
.article:first-child {
    border-top:none;
}

#panel {
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }

@media (max-width: 700px) {
    .container, .map-container {
        display: block;
    }
    .saved-locations {
        width: 100%;
        padding: 1em 0;
    }
}
